.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App-container {
  text-align: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
